.home {
	display: flex;
	align-items: center;
	gap: 25px;

	.home_headers {
		.home_header {
			font-size: 50px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		.home_text {
			font-size: 24px;
		}

		@media (min-width: 570px) and (max-width: 1024px) {
			.home_header {
				font-size: calc(32px + (36 - 32) * ((100vw - 570px) / (1050 - 570)));
				line-height: 1.2;
			}
			.home_text {
				font-size: calc(14px + (18 - 14) * ((100vw - 570px) / (1050 - 570)));
			}
		}

		@media (max-width: 570px) {
	
			.home_header {
				font-size: 30px;
			}
	
			.home_text {
				font-size: 16px;
			}

		}
	}

	.home_image {
		border-radius: 25px;
	}

	@media (max-width: 570px) {
		flex-direction: column;

		.home_image {
			width: 320px;
		}
	}
}
